body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
   /* background-color: #001324;
    background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");*/
}


*,
*:after,
*:before{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 10px 0;
}

/*Inner*/
.inner-margin{
    margin-top: 55px; 
}

.inner-title{
    font-size: 26px;
    font-weight: 900;
    line-height: 1.2;
}


/*Container
====================*/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*Header
====================*/

.header{
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 10px 0; 
    align-items: center;     
}

.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home__link{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.logo__photo{
    display: block;
    width: 75px;
    height: 75px;
    fill: #FCD9E1;
    padding-right: 18px;
}

.logo__text{
    font-size: 16px;
    color: #FFDBC0;
}
/*Nav
====================*/
.nav{
    display: flex;
    font-size: 14px;
     text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.4em;

}

.nav__link{
    margin: 20px;
    color: #FFFEFB;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .1s linear;

}
.nav__link:first-child{
    margin-left: 0;
}
.nav__link:hover{
    opacity: 1;
    color: #E8C814;
}

/*Intro
====================*/

.intro{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #000914;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner{
    width: 100%;
    margin: 0 auto;
}

.intro__slider{
    display: flex;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

/*Slider
====================*/

.slider__photo{
    width: 100%;
    height: 100vh;
    opacity: 0.8;
}

.slider__offer{
    display: flex;
    flex-direction: column;
    position: absolute;
    
    margin-left: 100px;
    top: 26%;
    width: 100%;
    max-width: 535px;
    height: 353px;
    
     background-color: rgba(196, 196,196, 0.5);

    border-radius: 22px;
    z-index: 1;
}

.offer__title{
   padding: 25px 40px 35px;
   font-size: 48px;
   font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 1.2;
    color: #04033F;
    opacity: 1;
    
}

.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 50%;
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.slick-dots li{
    margin: 5px;
    margin-left: 0;
}

.slick-dots button{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    opacity: .5;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-size: 0;
    color: transparent;
}

.slick-dots button:focus{
    outline: 0;
}

.slick-dots .slick-active button{
    opacity: 1;
}
/*Button
====================*/

.btn{
    margin-left: 40px;
    margin-right: 180px;
    padding: 15px 25px;
    border-radius: 12px;
    
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    
    transition: background-color .2s linear;
    
}

.btn.btn-silver{
    background-color: #0D0D0D;
}

.btn:hover{
    background-color: #5A0909;
}

/*Journey
====================*/
.journey{
    margin: 25px 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.journey__title{
    margin: 20px 0 35px;
    
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-style: italic;
    font-weight: 700;
    line-height: .8;
    color: #102341;
    text-transform: uppercase;
    text-shadow: 5px 6px 10px #13161B;
}
.journey__inner{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 570px;
    height: auto; 
    
}

.journey__text{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat', cursive;
    font-weight: 400;
    color: #1D1D1E;
}

/*Attraction*/

.attraction{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.attractions__photo1{
    width: 100%;
    display: block;
    height: 400px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.attractions__photo2{
    display: block;
    width: 100%;
}
.attractions__image{
    width: 100%;
    height: 100%;

}

/*Article*/
.join__article{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    text-align: center;
}

.article{
    display: block;
    justify-content: center;
}

.icone{
    justify-content: center;
    margin: 15px auto;
    width: 45px;
    height: 45px;
    fill: #E8C814;
}

.article__title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #060112 ;
}

.article__text{
    margin: 20px 45px 35px;
    
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #403F45;
}


/*Accomodation*/

.accomodation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.accomodation__photo1{
    display: block;
    width: 100%;

    overflow: hidden;
}

.accomodation__photo2{
    display: block;
    width: 100%;
   overflow: hidden;
}
.accomodation__image{
    width: 100%;
    height: 100%;
}

/*Food*/
.food{
     display: flex;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.food__photo1{
    display: block;
    height: 450px;
    overflow: hidden;
}

.food__photo2{
    display: block;
    width: 100%;
}

.food__photo3{
    display: block;
    height: 450px;
    overflow: hidden;
}


/*Initerary*/
.itinerary{
    margin: 65px 0 65px;
}

.itinerary__inner{
   display: flex;
    flex-direction: column;
    justify-content: center;
}

.itinerary__title{
    margin: 20px auto 35px;
    text-align: center;
    font-family: 'Raleway', cursive;
    font-size: 28px;
    font-weight: 700;
    line-height: .8;
    color: rgba(5, 4, 26, 85%);
}

.itinerary__text{
    margin: 0 auto 35px;
 
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: #333334;
}

/*Gallery*/

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery__item{
    width: 25%;
    height: 350px;
    
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    
    position: relative;
    overflow: hidden;
}

.gallery__item:hover .gallery__content{
    opacity: 1;
}

.gallery__photo{
    min-width: 100%;
    position: absolute;
    transform: translateX(-10%);
    z-index: 1;
     
}

.gallery__photo.transform-none{
    transform: none;
}

.gallery__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    width: 100%;
    height: 100%;
    opacity: 0;
    
    background-color: rgba(232, 69,69, 0.9);
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
    transition: opacity .2s linear;
}

.gallery__title{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.gallery__text{
    padding-top: 8px;
    font-size: 14px;
    color: #fff;
    
}


/*Reviews*/
.reviews{
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

.reviews__title{
    margin: 40px auto 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color:#060120;
}

.reviews__subtitle{
    margin: 15px auto 35px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(44, 62, 80, 75%);
}

.reviews__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.reviews__item{
    padding: 25px;
    width: 33.33333%;   
}

.quotes{
    fill: rgba(120, 13, 13, 90%);
}

.reviews__item:first-child{
    padding-left: 0;
}

.reviews__item:last-child{
    padding-right: 0;
}

.reviews__text{
    font-family: 'Raleway', cursive;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9;
    color: rgba(28, 40, 51, 90%);
    
    padding-top: 10px;
    padding-bottom: 35px;
}

.reviews__autor{
    font-family: 'Montserrat', cursive;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9;
    color: #EAB009;
}

/*Footer*/
.footer{
    padding: 25px 0 15px;
    display: block;
    justify-content: center;
    background-color: #002d42;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}
.footer__block{
    width: 100%;
    text-align: center;
    position: relative;
}

.footer__title{
    font-size: 14px;
    line-height: 1.6;
    font-weight: 700;
    color: #fff;
    
    margin-bottom: 15px;
}

.footer__text{
    font-size: 12px;
    line-height: 1.5;
    color: rgba(255,255,255, .5);
}
/*Copyright*/
.copyright{
    margin: 10px 0 0;
}

.copyright__text{
    text-align: center;
    font-size: 11px;
    line-height: 1.5;
    color: #808080;
}

.copyright__text span{
    color: #AD2715;
}

/* Burger
================*/
.burger{
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
}

.burger__item{
    display: block;
    width: 30px;
    height: 3px;
    
    
    background-color: #fff;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before, .burger__item:after{
    content: "";
    width: 100%;
    height: 100%;
    
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
}


.burger__item:before{
    top: -8px;
}

.burger__item:after{
    bottom: -8px;
}

/*Media*/
@media(max-width:1026px){
     /*Intro*/
    .intro{
        height: 750px;
    }
    .intro__slider{
        height: 750px;
    }
    /*Slider*/
    .slider__photo{
        height: 750px;
    }
     /*Gallery*/
    .gallery__item{
        width: 50%;
    }
    .gallery__photo{
        transform: none;
    }
    
}

@media(max-width:991px){

    /*Slider*/
    .slider__offer{
        max-width: 445px;
        height: 255px;
        margin-left: 70px;
        top: 30%;
    }
    .offer__title{
        padding: 30px;
        font-size: 38px;
    }
    /*Article*/
    .join__article{
        max-width: 390px;
    }
    /*Food*/
    .food__image{
        transform: translateX(-35%);
    }
    .transform{
        transform: none;
    }
    
}

@media(max-width:789px){
    /*Nav*/
    .nav{
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: right;
        background-color:#2C3E50 ; 
        position: absolute;
        top: 100%;
        right: 0;
        
    }
    
    .nav.show{
        display: flex;
    }
    
    .nav__link{
        padding: 9px 15px;
    }
    
    /*Burger*/
    .burger{
        display: block;
    }
    
}

@media(max-width:731px){
    /*Slider*/
    .slider__offer{
        max-width: 345px;
        height: 255px;
        margin-left: 40px;
        top: 38%;
    }
    .offer__title{
        padding: 20px;
        font-size: 38px;
    }
    /*Button*/
    .btn{
        margin-left: 20px;
        margin-right: 65px;
    }
    
    /*Journey*/
    .journey__title{
        font-size: 38px;
    }
    .journey__text{
        font-size: 14px;
    }
    /*Article*/
    .join__article{
        max-width: 290px;
    }
    .article__title{
        font-size: 16px;
    }
    .article__text{
        font-size: 12px;
    }
    /*Food*/
    .food__image{
        transform: translateX(-45%);
    }
     .transform{
        transform: none;
    }
    
    /*Itinerary*/
    .itinerary__title{
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 24px;
    } 
    .itinerary__text{
        font-size: 14px;
    }
    
    /*Reviews*/
    .reviews{
        margin: 15px auto;
    }
    .reviews__title{
        margin-top: 25px;
        font-size: 20px;
    }
    .reviews__subtitle{
        margin-bottom: 15px;
        font-size: 14px;
    }
    
    .reviews__item{
        padding-top: 0;
    }
    .reviews__text{
        padding-bottom: 10px;
    }
    
    /*Footer*/
    .footer{
        padding: 10px 0 5px;
    }
    .footer__title{
        margin-bottom: 8px;
        font-size: 12px;
    }
    .footer__text{
        font-size: 10px;
    }
    .copyright__text{
        font-size: 8px;
    }
}

@media(max-width:426px){
    /*Header*/
    .header{
        height: 60px;
    }
    .logo__photo{
        width: 60px;
        height: 60px;
    }
    /*Intro*/
    .intro{
        height: 100vh;
    }
    .intro__slider{
        height: 100vh;
    }
    /*Slider*/
    .slider__photo{
        height: 100vh;
    }
    .slider__offer{
        max-width: 255px;
        height: 165px;
        margin-left: 35px;
        top: 42%;
    }
    .offer__title{
        padding: 15px;
        margin-bottom: 5px;
        font-size: 22px;
        line-height: 1.4;
    }
    /*Button*/
    .btn{
        margin-left: 15px;
        margin-right: 68px;
        font-size: 14px;
    }
    
    /*Journey*/
    .journey{
        margin: 15px 0 20px;
    }
    .journey__title{
        margin: 10px 0 15px;
        font-size: 16px;
    }
    .journey__text{
        font-size: 11px;
    }
     /*Article*/
    .article{

    }
    .icone{
        margin: 10px auto;
        width: 35px;
        height: 35px;
    }
    .join__article{
        max-width: 210px;
    }
    .article__title{
        font-size: 14px;
    }
    .article__text{
        margin: 10px 20px 15px;
        font-size: 10px;
    }
    /*Attraction*/
    .attraction{
        height: 320px;
    }
    /*Accomodation*/
    .accomodation{
        height: 270px;
    }
    /*Food*/
    .food{
        height: 370px;
    }
    /*Itinerary*/
    .itinerary__title{
        margin-bottom: 15px;
        font-size: 12px;
    }
    .itinerary__text{
        margin-bottom: 5px;
        font-size: 10px;
    }
    /*Gallery*/
    .gallery__item{
        width: 100%;
    }
    /*Reviews*/
    .reviews{
        margin: 0 auto;
    }
    .reviews__title{
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .reviews__subtitle{
        margin-bottom: 15px;
        font-size: 12px;
    }
    .reviews__item{
        padding: 10px;
        width: 100%;
    }
    .reviews__text{
        padding-bottom: 0;
        font-size: 12px;
    }
    .reviews__autor{
        font-size: 11px;
    }
    /*Footer*/
    .footer__title{
        margin-bottom: 4px;
        font-size: 10px;
    }
    .footer__text{
        font-size: 7px;
    }
    .copyright{
        margin-top: 5px;
    }
    .copyright__text{
        font-size: 6px;
    }
}